body {
    background: linear-gradient(270deg,
        #1F0E11,
        #1E2B3C,
        #2F4F4F,
        #102C54,
        #2B2B2B,
        #2C5364,
        #3C3F41,
        #0F2027,
        #203A43,
        #16222A,
        #1B2735,
        #2E3A59,
        #1C1C1C,
        #3A6073,
        #082567
    );
    background-size: 1200% 1200%;
    animation: smoothGradient 180s ease infinite;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes smoothGradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

.card {
    border-radius: 1rem;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.025);
    backdrop-filter: blur(10px);
}

.form-label {
    color: #FFE4E1;
}

.form-control,
.form-select {
    background-color: rgba(255,255,255,0.1);
    color: white;
    border: none;
}

.form-control {
    background-color: rgba(255,255,255,0.2);
}

.form-control::placeholder {
    color: rgba(255,255,255,0.6);
}

.form-select {
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    appearance: none;
}

.form-select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.6);
}

.form-select option {
    background-color: rgba(0, 0, 0, 0.8);
}

.form-select option:first-child {
    color: rgba(255,255,255,0.6);
}

.heading-title {
    color: #FFF8E7;
}

.heading-title:hover {
    transform: scale(1.02);
}

.btn-back {
    background-color: #3498db;
    border: none;
    color: white;
}

.btn-back:hover {
    background-color: #2B6CC4;
}

.d-flex .btn {
    width: 48%;
}

.logo {
    color: #EAE6CA;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 10px;
}

.logo:hover {
    transform: scale(1.08);
}

.flash.error_email,
.flash.error_username {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}