<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ошибка!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="error-box">
    <div class="error-title">Ошибка 403</div>
    <div class="error-message">Доступ запрещён. У тебя недостаточно прав или ты зашёл не туда 🤖</div>
  </div>
</body>
</html>
